.listItem {
  padding: 10px 3px 11px 10px;
  display: flex;
  align-items: center;
  min-width: 0;
  max-height: none;
}

li:not(:last-child) {
  border-bottom: 1px solid #DFE1E5;;
}

.sicon {
  background-size: 24px;
  height: 24px;
  width: 24px;
  margin: 0 15px 0 5px;
}

.sbtc {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  max-height: none;
}

.sbl1 {
  display: flex;
  font-size: 16px;
  color: #212121;
  flex: 1;
  align-items: center;
  word-break: break-word;

  > span {
    flex: 1;
  }
}

.sbl2 {
  display: flex;
  font-size: 12px;
  color: #767676;
  flex: 1;
  align-items: center;
}

.sbab {
  display: flex;
  flex: 0 1 auto;
  align-self: stretch;
  padding: 0 7px 0 8px;
  margin: -10px 7px -11px 0;
}

.sbai {
  flex: 1;
  display: flex;
  height: 24px;
  width: 24px;
  align-self: center;
  justify-content: center;
  align-items: center;

  > span {
    margin-bottom: 4px;
    font-size: 27px;
    line-height: 25px;
    color: #757575;
    cursor: pointer;
  }
}
