.container {
  position: relative;
}

.logoContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 20px;
}

.welcomeContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  p {
    margin-top: 1rem;
    font-size: 2.6rem;
  }
}

.welList {
  margin: 2rem 5rem;

  li {
    list-style: disc;
    border: none !important;
    margin-bottom: .5rem;
  }
}

.welItem {
  font-size: 1.6rem;
}

.DRM {
  margin-top: 4rem;
  font-size: 1.8rem;
}

.berlinImg {
  margin: 20px 0;
}
